* {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 4rem;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 1280px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}