.resource .title-wrapper {
  max-width: 775px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
  margin-top: 4rem;
}

.resource .title-wrapper .text {
  color: #4b5563;
  line-height: 1.8;
}

.resource {}

/* big card */
.resource .big-card {
  display: none;
}

/* card */
.resource .cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.resource .cards .card {
  background-color: #C4DCC6;
  border-radius: 14px;
  padding-top: 2.2rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 2.2rem;
}

.resource .cards .card .title {
  font-size: 22px;
  font-weight: 400;
  color: #111827;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.resource .cards .card {}

.resource .cards .card {}

.resource .cards .card img {
  max-width: 100%;
}

.resource .cards {}

@media (min-width: 1280px) {
  .resource {}

  .resource .title-wrapper {}

  .resource .title-wrapper .text {
    font-size: 18px;
  }

  /* big card */
  .resource .big-card {
    display: flex;
    margin-top: 4rem;
    background-color: #C4DCC6;
    border-radius: 14px;
    padding: 2.2rem;
    gap: 4rem;
  }

  .resource .big-card .left {
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .resource .big-card > .left .title {
    font-size: 30px;
    font-weight: 400;
    color: #111827;
    margin-bottom: 1.2rem;
    line-height: 1.5;
  }
  .resource .big-card > .left .text {
    color: #6b7280;
    font-size: 20px;
    margin-bottom: 2.5rem;
    line-height: 2;
  }
  .resource .big-card > .left .btn {
    color: #70B076;
    text-decoration: none;
    font-weight: 500;
  }
  .resource .big-card > .left .title {}

  .resource .big-card {}

  /* card */
  .resource .cards {
    flex-direction: row;
  }
}