.sidebar {
  z-index: 1050;
}

.sidebar::before {
  content: "";
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.sidebar.shown::before {
  opacity: 1;
  pointer-events: unset;
}

.sidebar .inner {
  background-color: #C4DCC6;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  padding: 2rem;
  transition: left 0.3s ease;
}

.sidebar.shown .inner {
  left: 25%;
  transition: left 0.3s ease;
}

.sidebar .inner .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sidebar .inner .actions .close {
  display: inline-flex;
  width: 24px;
  height: 24px;
  color: #4b5563;
  background-color: transparent;
  border: none;
  outline: none;
}

.sidebar .inner .actions .close:hover {
  cursor: pointer;
  color: #6b7280;
}

.sidebar .inner .actions .close .icon {
  width: 24px;
  height: 24px;
}

.sidebar .inner .actions {}

.sidebar .inner .menus {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar .inner .menus a {
  text-decoration: none;
  color: #6b7280;
  font-size: 20px;
  white-space: nowrap;
}

.sidebar .inner .menus a:hover,
.sidebar .inner .menus a.active {
  color: #27272a;
}

.sidebar .inner .menus a.contact {
  background-color: #70B076;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 999px;
  color: white;
  display: inline-flex;
  width: auto;
}

.sidebar .inner .menus {}

.sidebar .inner .menus {}

.sidebar .inner {}

@media (min-width: 1280px) {
  .sidebar {
    display: none;
  }
}